@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #020617;
    /* slate-950 */
    color: #f8fafc;
    /* slate-50 */
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:
      linear-gradient(to bottom, rgba(2, 6, 23, 0.85), rgba(2, 6, 23, 0.95)),
      url('/electric-blue-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
  }
}