@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #020617;
    /* slate-950 */
    color: #f8fafc;
    /* slate-50 */
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: radial-gradient(circle at 50% 0%, #1e1b4b 0%, #020617 100%);
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
  }
}